<a href="index.html"
    class="block md:hidden w-full py-5.5 mb-5 text-lg font-semibold text-center text-white bg-stone-950 border border-stone-950 rounded-[15px] active:bg-transparent active:text-stone-950">
    {{name}}
</a>