<a href="#" class="shrink-0 block overflow-hidden px-10.5 md:px-25 pt-6.25 pb-12.5 rounded-[30px] shadow-[0_0_20px_0_rgba(0,0,0,0.1)] hover:scale-95 hover:duration-700">
    <img src="./assets/img/{{url}}" class="w-full h-auto mb-5" alt="{{alt}}">
    <span class="block text-lg font-semibold text-center">{{name}}</span>
</a> 