<section class="max-w-7xl mx-auto w-full px-6">
    <div class="flex">
        <h4 class="text-xl font-semibold text-neutral-600 mb-5">Наушники</h4>
        <div class="indicator md:hidden text-sm font-medium text-neutral-600 ml-auto">
            1 из 3
        </div>
    </div>
    <div class="cards-wrapper flex md:flex-wrap gap-7.5 mb-12.5 overflow-x-auto md:overflow-visible hide-scrollbar">
        {{> headphones
            url = "headphones-1.png"
            alt = "Apple BYZ S852I"
            name = "Apple BYZ S852I"
            rating = "4.7"
            current-price = "1700"
            real-price = "2030 ₴"   
        }}
        {{> headphones
            url = "headphones-2.png"
            alt = "Apple EarPods"
            name = "Apple EarPods"
            rating = "4.5"
            current-price = "2320" 
        }}
        {{> headphones
            url = "headphones-3.png"
            alt = "Apple EarPods"
            name = "Apple EarPods"
            rating = "4.5"
            current-price = "2320" 
        }}
        {{> headphones
            url = "headphones-1.png"
            alt = "Apple BYZ S852I"
            name = "Apple BYZ S852I"
            rating = "4.7"
            current-price = "2030"  
        }}
        {{> headphones
            url = "headphones-2.png"
            alt = "Apple EarPods"
            name = "Apple EarPods"
            rating = "4.5"
            current-price = "2320" 
        }}
        {{> headphones
            url = "headphones-3.png"
            alt = "Apple EarPods"
            name = "Apple EarPods"
            rating = "4.5"
            current-price = "999"
            real-price = "1500 ₴" 
        }}
    </div>

    <div class="flex">
        <h4 class="text-xl font-semibold text-neutral-600 mb-5">Беспроводные наушники</h4>
        <div class="indicator md:hidden text-sm font-medium text-neutral-600 ml-auto">
            1 из 3
        </div>
    </div>
    <div class="cards-wrapper flex md:flex-wrap gap-7.5 mb-15 overflow-x-auto md:overflow-visible hide-scrollbar">
        {{> headphones
            url = "headphones-4.png"
            alt = "Apple AirPods"
            name = "Apple AirPods"
            rating = "4.8"
            current-price = "2999" 
            real-price = "4999 ₴" 
        }}
        {{> headphones
            url = "headphones-5.png"
            alt = "GERLAX GH-04"
            name = "GERLAX GH-04" 
            rating = "4.9"
            current-price = "6499"   
        }}
        {{> headphones
            url = "headphones-6.png"
            alt = "BOROFONE BO4"
            name = "BOROFONE BO4"
            rating = "4.0"
            current-price = "3525"  
        }}
    </div>
</section>