</main>
<footer class="max-w-7xl mx-auto w-full p-7.25 md:rounded-t-[30px] shadow-[0_0_20px_0_rgba(0,0,0,0.1)]">
    <div class="grid md:flex justify-center md:justify-between gap-6 md:gap-0">
        <a href="#">
            <img src="./assets/img/logo.svg" class="w-21.25 h-7.5 mx-auto md:mx-0" alt="logo">
        </a>
        <nav class="grid md:flex md:gap-43.5">
            <ul class="text-lg font-normal text-black text-center md:text-left">
                <li class="mb-2"><a href="#" class="hover:text-orange-400 hover:font-medium">Избранное</a></li>
                <li class="mb-2"><a href="#" class="hover:text-orange-400 hover:font-medium">Корзина</a></li>
                <li class="mb-2"><a href="#" class="hover:text-orange-400 hover:font-medium">Контакты</a></li>
            </ul>
            <div class="grid mx-auto md:mx-0">
                <a href="#" class="text-lg font-normal text-black text-center md:text-left mb-2 hover:text-orange-400 hover:font-medium">Условия сервиса</a>
                <div class="flex gap-3.75 items-center md:mt-auto md:mb-1.75">
                    <svg class="w-5.75 h-5.75 p-0.75 text-neutral-600">
                        <use href="./assets/icons/sprite.svg#icon-lang"></use>
                    </svg>
                    <button type="button"
                        class="cursor-pointer text-sm font-medium hover:text-orange-400 hover:font-semibold">Укр</button>
                    <button type="button"
                        class="cursor-pointer text-sm font-medium hover:text-orange-400 hover:font-semibold">Рус</button>
                    <button type="button"
                        class="cursor-pointer text-sm font-medium hover:text-orange-400 hover:font-semibold">Eng</button>
                </div>
            </div>
        </nav>
        <div class="flex gap-4.5 items-center">
            <a href="#">
                <svg class="w-7.5 h-5.25 text-stone-950">
                    <use href="./assets/icons/sprite.svg#icon-vk"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="w-7.5 h-7.5 text-stone-950">
                    <use href="./assets/icons/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="w-7.5 h-7.5 text-stone-950">
                    <use href="./assets/icons/sprite.svg#icon-telegram"></use>
                </svg>
            </a>
            <a href="#">
                <svg class="w-7.5 h-7.5 text-stone-950">
                    <use href="./assets/icons/sprite.svg#icon-whatsapp"></use>
                </svg>
            </a>
        </div>
    </div>
</footer>