<header class="max-w-7xl mx-auto w-full px-6 pt-3 md:pt-0 pb-1.75 md:pb-0 flex items-center">
    <a href="../../index.html" class="logo hidden md:block p-2.5">
        <img src="./assets/img/logo.svg" alt="logo">
    </a>
    <div class="mobile-header flex items-center gap-5 w-full md:hidden">
        <a href="../../index.html" class="p-2.5">
            <img src="./assets/img/arrow-right.svg" alt="arrow-right">
        </a>
        <h3 class="page-title text-lg font-semibold text-stone-900">{{page-title}}</h3>
    </div>
    <div class="flex shrink-0 md:shrink md:w-full ml-auto md:ml-16.25 gap-8.5 md:gap-0">
        <div class="order-1 md:order-0 md:flex items-center">
            <button type="button" id="menu" class="p-2.5 relative md:hidden">
                <img src="./assets/img/menu.svg" alt="menu">
            </button>
            <div id="catalog"
                class="hidden md:block bg-sky-50 md:bg-transparent absolute md:relative right-0 t-0 md:left-0  md:translate-0 z-30">
                <div class="flex items-center gap-3.75 pr-5 pl-5.75 md:px-0 pt-3.75 md:pt-0">
                    <svg class="w-3.75 h-5 md:text-neutral-600">
                        <use href="./assets/icons/sprite.svg#icon-mobile"></use>
                    </svg>
                    <button id="mainBtn"
                        class="btn-arrow pr-6 text-left text-sm font-medium relative whitespace-nowrap cursor-pointer after:absolute after:w-2.25 after:h-2 after:top-1/2 after:right-2 after:-translate-y-1/2 after:transition-transform after:duration-300">Выбрать
                        модель телефона</button>
                </div>
                <div id="dropdown"
                    class="absolute bg-sky-50 pt-2.5 md:pt-3.75 pb-6 md:pb-7.25 pl-5.75 md:pl-6.75 pr-13 md:pr-18 hidden z-100 w-full rounded-ee-none rounded-es-[20px] md:rounded-b-[30px]">
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Apple</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                12</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                12
                                Max</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                13</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                13
                                Max</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                13 Pro
                                Max</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">iPhone
                                14</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            INOI</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Nokia</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Oppo</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Xiaomi</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Realme</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Samsung</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Sony</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="pl-8.25 md:pl-0 mb-2.5 md:mb-0 py-1.25 md:py-0 cursor-pointer relative">
                        <div
                            class="btn-arrow text-sm md:text-lg font-medium ml-3 md:ml-0 flex justify-between items-center relative after:absolute after:w-2.25 after:h-2 after:top-1/2 after:-left-3 md:after:left-auto md:after:right-1 after:-translate-y-1/2 after:transition-transform after:duration-300">
                            Vivo</div>
                        <div class="ml-6 md:ml-4.75 mt-2.5 md:mt-1.75 mb-4.5 md:mb-5.25 hidden sublist">
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                            <a href="#"
                                class="text-sm font-medium block py-1.25 hover:text-orange-400 active:text-orange-400 focus:text-orange-400">Lorem,
                                ipsum.</a>
                        </div>
                    </div>
                    <div class="grid gap-4.5 md:hidden">
                        <div class="flex items-center gap-2.5">
                            <svg class="w-3.75 h-3.5 text-stone-950">
                                <use href="./assets/icons/sprite.svg#icon-like"></use>
                            </svg>
                            <a href="#" class="font-medium text-sm active:text-orange-400">Избранное</a>
                        </div>
                        <div class="flex items-center gap-2.5">
                            <svg class="w-3.75 h-4.25 text-stone-950">
                                <use href="./assets/icons/sprite.svg#icon-document"></use>
                            </svg>
                            <a href="../../terms-service.html" class="font-medium text-sm active:text-orange-400">Условия сервиса</a>
                        </div>
                        <div class="flex items-center gap-2.5">
                            <svg class="w-3.75 h-3.75 text-stone-950">
                                <use href="./assets/icons/sprite.svg#icon-phone"></use>
                            </svg>
                            <a href="../../contacts.html" class="font-medium text-sm active:text-orange-400">Контакты</a>
                        </div>
                        <div class="flex items-center gap-2.5">
                            <svg class="w-4.25 h-4.25 text-stone-950">
                                <use href="./assets/icons/sprite.svg#icon-lang"></use>
                            </svg>
                            <div class="flex gap-3.75">
                                <button type="button"
                                    class="font-medium text-sm active:text-orange-400 active:font-bold">Укр</button>
                                <button type="button"
                                    class="font-medium text-sm active:text-orange-400 active:font-bold">Рус</button>
                                <button type="button"
                                    class="font-medium text-sm active:text-orange-400 active:font-bold">Eng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="flex items-center ml-auto">
            <a href="#"
                class="hidden md:block relative after:content-['2'] after:absolute after:w-5 after:h-5 after:top-2.5 after:right-1.25 after:text-center after:text-white after:text-sm after:bg-orange-400 after:rounded-full">
                <svg class="w-5.5 md:w-15 h-5 md:h-15 md:p-5 md:text-neutral-600">
                    <use href="./assets/icons/sprite.svg#icon-like"></use>
                </svg>
            </a>
            <a href="#"
                class="flex items-center p-2.5 md:p-0 relative after:content-['1'] after:absolute after:w-5 after:h-5 after:top-0 md:after:top-2.5 after:right-0 md:after:right-1.25 after:text-center after:text-white after:text-sm after:bg-orange-400 after:rounded-full">
                <svg class="w-6 md:w-15 h-6 md:h-15 md:p-5 text-neutral-600">
                    <use href="./assets/icons/sprite.svg#icon-basket"></use>
                </svg>
            </a>
        </p>
    </div>
</header>