@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-sky-50: #EAEAEA;
  --color-stone-900: #1C1C27;
  --color-stone-950: #101010;
  --color-gray-300: #BFBBB4;
  --color-neutral-600: #838383;
  --color-orange-300: #FFCE7F;
  --color-orange-400: #FFA542;
  --color-red-400: #DF6464;

  --text-xs: 13px;
  --text-sm: 15px;
  --text-lg: 17px;
  --text-2xl: 25px;

  --container-7xl: 1158px;

  --font-montserrat: "Montserrat";
}

@layer components {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .gm-style-cc,
  .gm-style .gm-style-cc {
    opacity: 0.3;
  }

  .hamburger {
    padding: 10px !important;
  }

  .hamburger-box {
    max-width: 20px;
    max-height: 18px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 100% !important;
    height: 3px !important;
    border-radius: 0 !important;
    background-color: var(--color-neutral-600) !important;
  }
}